/*element selector*/
div{
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}
/*class selector*/
.amar{
    background-color: rgb(141, 203, 9);
    border: 2px solid rgb(114, 77, 80);
    padding: 10px;
    margin: 5px;
}

pseudo-class selector
a:hover{
    color: red;
    text-decoration: none;
}
a:link{
    color: rgb(230, 94, 4);
    text-decoration: none;
}
/*id selector*/
#aman{
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
/*
speecificity hierarchy:
Summary:
Element < Class < Pseudo-class/Attribute < ID < Inline style < !important*/

/*child selector*/
div > p{
    background-color: rgb(255, 255, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 155px;
}
